<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @message, local: true, url:messages_path) do |form| %>
  <%= form.hidden_field :content %>
  <p>投稿</p>
  <%= @message.content %>
  <div class="btn-wrapper">
    <%= form.submit  "投稿する" %>
    <%= form.submit "戻る", name: 'back' %>
  </div>
<% end %>
