<h2>投稿を編集する</h2>
<%= form_with(model: @message, local: true, url: message_path ) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= @message.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="message_title">
    <%= form.label :content %>
    <br><%= form.text_area :content %>
  </div>
    <input type="submit" name="commit" value="投稿を編集する" data-disable-with="投稿を編集中･･･">
<% end %>
<div class="btn-wrapper">
  <button class="btn btn-warning">
    <%= link_to '投稿を削除する', message_path(@message.id), method: :delete ,
    data: { confirm: '本当に削除していいですか？' } %>
  </button>
  <button class="btn btn-default">
    <%= link_to '投稿一覧に戻る', messages_path %>
  </button>  
</div>
