<h2>メッセージを編集する</h2>
<%= form_with(model: @message, local: true, url:message_path) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= @message.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="message_title">
    <%= form.label :content %>
    <br><%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to 'メッセージを削除する', message_path(@message.id), method: :delete ,
  data: { confirm: '本当に削除していいですか？' } %>
<br><%= link_to "メッセージ一覧画面にもどる", messages_path %>
